@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.homescreen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
}
.qr-container {
  background-color: rgb(213, 230, 100);
  padding: 20px;
  margin: 10px;
}

.title {
  background-color: yellowgreen;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  width: 200px;
  padding: 10px;
  color: white;
}

.start-btn {
  font-size: 30px;
  padding: 20px;
  border-radius: 10px;
  height: 70px;
  border: none;
  background-color: rgba(67, 223, 24, 0.912);
}
